/*CARD Vertical*/

.centraliza-card {

    width: 100%; /*ou*/
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-flip {
  position: relative;
}

.card-flip > .front,
.card-flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.card-flip > .front {
  transform: rotateX(0deg);
}

.card-flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateX(-180deg);
}

.card-flip:hover > .front {
  transform: rotateX(180deg);
}

.card-flip:hover > .back {
  opacity: 1;
  transform: rotateX(0deg);
}

.card-flip {
  position: relative;
  display: inline-block;
  margin:10px;
  max-width:300px;
  width:100%;

}

.card-flip img { width:100%; }

.card-flip > .front,
.card-flip > .back {
  display: block;
  color: #0a75ff;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #050505;
  border-radius: 10px;
}

.card-flip > .front p,
.card-flip > .back p {
  font-size: 1em;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 5px;
}

.card-flip > .back a { color:#0a75ff; text-decoration:underline; font-weight:bold; }

.text-shadow {

    text-shadow: 2px 1px 5px #535353;

}

/*CARD Vertical*/